/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bio-card {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 5em;
}

#bio-card::before {
    content: '';
    position: absolute;
    background-color: rgb(24, 125, 208);
    height: 450px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skewY(-10deg);
    transform-origin: 0;
}   

.bio-pic {
    float: inline-start;
    /* position: relative; */
}

.bio-pic img {
    border-radius: 5px;
}

h1 {
    font-family: Playfair Display, Roboto;
}

.bio-pic h1 {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-size: 4.5rem;
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: -6rem;
}

.profile-pic {
    width: 400px;
    min-height: 400px;
    object-fit: cover;
    box-shadow: 2px 1px 9px -3px #000000;
}

.bio-container {
    padding: 30px;
    box-shadow: 3px 3px 9px -4px;
    /* display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center; */
    border-radius: 5px;
    background-color: white;
}

.bio-container h1 {
    font-size: 2rem;
}

.bio-container p {
    line-height: 1.5;
}

.icon-div {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.icon {
    height: 2rem;
    width: 2rem;
}

.projects {
    margin: 4rem;
}

.projects h1 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

.project-image {
    background-color: rgb(231, 54, 15);
    color: white;
    max-height: 200px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project-card {
    box-shadow: 2px 1px 9px -3px #000000;
    border-radius: 5px;
}

.project-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;
}

.project-heading {
    display: flex;
    justify-content: space-between;
}

.p-buttons {
    display: flex;
}

.contact-info {
    padding: 4rem;
    background-color: rgb(24, 125, 208);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact-info h1 {
    font-size: 2rem;
}

.footer-left-side {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-right-side img {
    max-width: 50vw;
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width: 940px){
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-info {
        flex-direction: column;
    }

    .footer-right-side img {
        max-width: 90vw;
    }

    .bio-pic {
        float: left;
        margin-right: 1rem;
        margin-bottom: 1rem;
        margin-top: -3rem;
        margin-left: -3rem;
    }

    .header-wrapper {
        /* max-width: 400px; */
        display: block;
    }

    .bio-container {
        
    }
}

@media (max-width: 580px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}